.body {
	background-color: #E8E8E4;
}

.header {
	margin-top: .5em;
	font-size: 400%;
	color: #FFFFFA;
	font-weight: bold;
	font-family: 'arial';
	background-color: #515052;
}

.board {
	display: grid;
	grid-template-columns: 4fr 1fr 1fr 1fr 4fr;
	grid-auto-rows: 10em;
}

.title {
	display: grid;
	grid-template-columns: 4fr 3fr 4fr;
	text-align: center;
}

.square {
	background-color: #FFFFFA;
	border: solid #515052;
	text-align: center;
}

.status {
	font-size: 200%;
	color: #FFFFFA;
	font-family: 'arial';
}

.statusred {
	background-color: #FF321E;
} 

.statusblue {
	background-color: #01BAEF;
}

.x {
	font-size: 750%;
	color: #FF312E;
}

.o {
	font-size: 750%;
	color: #01BAEF;
}